[Unit]
Description=Example Swift Systemd App

[Service]
Type=notify
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/Example

[Install]
WantedBy=multi-user.target
